<mat-sidenav-container>
    <mat-sidenav class="mat-elevation-z8" mode="side" opened="true">
        <div class="profile-wrapper">
            <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />
            <h4 class="name">{{name}}</h4>
        </div>
        <div class="menu-button-wrapper">
            <mat-button-toggle-group>
                <a *ngFor="let option of options" routerLink="{{option.link}}">
                    <mat-button-toggle mat-button class="menu-button">
                        <mat-icon>{{option.icon}}</mat-icon>
                        <span>{{option.description}}</span>
                    </mat-button-toggle>
                </a>
            </mat-button-toggle-group>
        </div>

        <div class="logout-button">
            <a routerLink="calendar">
                <mat-button-toggle (click)="logout()" mat-button class="logout-button">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </mat-button-toggle>
            </a>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>