<div class="registration-form-wrapper">
    <h1>Cree una cuenta gratuita</h1>
    <h3>Utiliza tus redes sociales</h3>
    <div class="social-container">
        <a id="facebook-icon" class="btn btn-primary btn-lg btn-floating fa fa-facebook" href="#!" role="button">
        </a>
        <a id="twitter-icon" class="btn btn-primary btn-lg btn-floating fa fa-twitter" href="#!" role="button">
        </a>
        <a id="google-icon" class="btn btn-primary btn-lg btn-floating fa fa-google" href="#!" role="button">
        </a>
    </div>
    <span>o utiliza tu información para el registro</span>

    <form class="registration-form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-4">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label>Id</mat-label>
                    <input matInput type="text" formControlName="id">
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label>Número Pasaporte</mat-label>
                    <input type="text" matInput formControlName="passportNumber">
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label>Numero de teléfono</mat-label>
                    <input type="tel" matInput formControlName="phone">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label>Apellidos</mat-label>
                    <input matInput type="text" formControlName="lastname">
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="username">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="legacy" class="full-width">
                    <mat-label>Nacionalidad</mat-label>
                    <mat-select [(value)]="selectedCountry" name="food">
                      <mat-option (click)="chooseCountry()" *ngFor="let country of countries" [value]="country.id" formControlName="country">
                        {{country.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="full-width" appearance="legacy" style="margin-bottom: 2rem;">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthDate">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-7">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label>Correo Electrónico</mat-label>
                    <input type="email" matInput formControlName="email">
                </mat-form-field>
            </div>
            <div class="col-5">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
            </div>
        </div>
        
        <button>Registrar</button>
    </form>
</div>