<div class="container w-100 h-100 d-flex align-items-center justify-content-center" style="max-height: 100%">
	<div class="w-100">
		<div class="d-flex justify-content-center title">
			<h2 class="text-dark">Tus viajes</h2>
		</div>
		<div class="row align-items-md-stretch">
			<div class="col-md-6">
				<div class="h-100 p-5 text-bg-dark rounded-3">
					<h2>Reservaciones pasadas</h2>
					<div *ngIf="past_reservations.length > 0" id="cards-container">
						<div class="card mb-3" *ngFor="let reservation of past_reservations">
							<div class="row g-0">
								<div class="col-md-10">
									<div class="card-body">
										<h3 class="text-black-50">{{reservation.vuelo.aeropuertoPartida.pais.nombre}} - {{reservation.vuelo.aeropuertoDestino.pais.nombre}}</h3>
										<p class="text-dark">{{reservation.vuelo.horario.horaPartida | date:"fullDate"}} - {{reservation.vuelo.horario.horaLlegada | date:"fullDate"}}</p>
									</div>
								</div>
								<div id="link" class="col-md-2 d-flex align-items-center justify-content-center">
									<mat-icon routerLink="/home/reservation/{{reservation.id}}">keyboard_arrow_right</mat-icon>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="!(past_reservations.length > 0)">
						<div class="card mb-3" style="max-width: 100%">
							<div class="row g-0">
								<div class="col-md-12">
									<div class="card-body d-flex justify-content-center align-items-center">
										<h3 class="text-black-50 m-0">Aun no hay registros de reservaciones actuales.</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="d-flex justify-content-center">
							<button class="btn btn-outline-light" routerLink="/home/create-reservation" type="button">Crea una nueva reservacion</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="h-100 p-5 bg-light rounded-3">
					<h2 class="text-dark">Reservaciones activas</h2>
					<div *ngIf="past_reservations.length > 0" id="cards-container">
						<div class="card mb-3" *ngFor="let reservation of current_reservations">
							<div class="row g-0">
								<div class="col-md-10">
									<div class="card-body">
										<h3 class="text-black-50">{{reservation.vuelo.aeropuertoPartida.pais.nombre}} - {{reservation.vuelo.aeropuertoDestino.pais.nombre}}</h3>
										<p class="text-dark">{{reservation.vuelo.horario.horaPartida | date:"fullDate"}} - {{reservation.vuelo.horario.horaLlegada | date:"fullDate"}}</p>
									</div>
								</div>
								<div id="link" class="col-md-2 d-flex align-items-center justify-content-center" routerLink="/home/reservation/{{reservation.id}}">
									<mat-icon routerLink="/home/reservation/{{reservation.id}}">keyboard_arrow_right</mat-icon>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="!(current_reservations.length > 0)">
						<div class="card mb-3" style="max-width: 100%">
							<div class="row g-0">
								<div class="col-md-12">
									<div class="card-body d-flex justify-content-center align-items-center">
										<h3 class="text-black-50 m-0">Aun no hay registros de reservaciones pasadas.</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="d-flex justify-content-center">
							<button class="btn btn-outline-secondary" routerLink="/home/create-reservation" type="button">Crea una nueva reservacion</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>